.page-body {
    background-color:#F5E8CF;
    width: 100%;
    height: 100%;
    min-height: 100%
}

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.card {
    background-color:#B5EF8A;
    box-shadow: 8px 10px #7FC29B;
    border-radius: 15px;
    width: 500px;
    height: 600px;
    margin-top: 100px;
    padding: 10px;
}

.container {
    padding: 20px;
}

.row {
    display:flex;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }