:root {
    --primary: #b5ef8a;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
    font-family: 'Pixelify Sans', sans-serif;
  }
  
  .btn--outline {
    background-color: #495d63;
    color: #fff;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    font-family: 'Pixelify Sans', sans-serif;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 30px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #7fc29b;
    color: #fff;
    transition: 250ms;
  }