
.hero-container {
    background: #c7ccdb;
    height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
  
  .hero-container > h1 {
    
    color: #373f51;
    font-size: 100px;
    margin-top: 30px;
    font-family: 'Pixelify Sans', sans-serif;
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    justify-content: center;
  }

  @keyframes slidein {
    0% {
      margin-left: 0%;
    }
    50% {
      margin-left: 300px;
    }
    100% {
      margin-left: 0%;
    }
  }
  
  .hero-container > p {
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
    color: #373f51;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    font-size: 32px;
    font-family: 'Pixelify Sans', sans-serif;
    justify-content: center;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  /* @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  } */